<form #userform="ngForm" (click)="form(userform.value)">
    
  <div class="container">
    <label for="fname"><b>Firstname</b></label>
    <input type="text" placeholder="Enter Firstname" name="fname" required ngModel>

    <label for="lname"><b>Lastname</b></label>
    <input type="text" placeholder="Enter Lastname" name="lname" required ngModel>

    <label for="name"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="name" required ngModel>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required ngModel>
        
    <button type="submit">Login</button>
  </div>
</form>